@CHARSET "UTF-8";
*{
	padding: 0px;
	margin: 0px;
}
#footer{
    clear: both;
    position:relative;
  //position:absolute;
    bottom:0px;
   // left:50%;
}
/*
#footer >div{
    margin-left:-100%;
}*/
#footer p{
	height: 25px;
	font-family: fantasy;
	line-height: 25px;
	text-align: center;
	
}
p{
	margin:0px;
}
