<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<script src="/KMS/JS/jquery-1.10.2.min.js"></script>
<script src="/KMS/JS/CommonJS.js"></script>
<script src="/KMS/JS/dynamic/index.js"></script>
<link href="/KMS/CSS/dynamic/index.css" rel="stylesheet" />
</head>
<body>
	<div id="main">
		<div id="left"></div>
		<div id="top">
			<div id="top-txt">
				<textarea placeholder="发表动态"></textarea>
				<div id="center-top-camera">
					<a href="javascript:;"></a>
				</div>
			</div>
			<div class="center-item-btn">
				<a href="javascript:;">发表</a>
			</div>
		</div>
		<div id="center">
			<div id="center-top">
				<span>全部动态</span> <a href="javascript:;"></a>
			</div>
			<div class="center-itemlist">
				<div class="center-item">
					<div class="center-item-userinfo">
						<div class="center-item-userinfo-img">
							<img src="/KMS/resources/user.jpg" />
						</div>
						<div class="center-item-userinfo-detail">
							<p class="center-item-userinfo-name">我是测试机1号</p>
							<p class="center-item-userinfo-time">2017-03-27 20:14:52</p>
						</div>
					</div>
					<div class="center-item-description">有一段青春，留作永恒。剪一段时光，放在最美的段落。有一段青春，留作永恒。剪一段时光，放在最美的段落。有一段青春，留作永恒。剪一段时光，放在最美的段落。有一段青春，留作永恒。剪一段时光，放在最美的段落。</div>

					<div class="center-item-ico">
						<div class="center-item-ico-likenum">
							已被点赞<span>2</span>次
						</div>
						<ul>
							<li class="center-item-ico-comment"><a href="javascript:;">
									<img src="/KMS/resources/comment.png" />
							</a></li>
							<li class="center-item-ico-like"><a href="javascript:;">
									<img src="/KMS/resources/like.png" />
							</a></li>
						</ul>
					</div>
					<hr />
					<div class="center-item-commentlist">
						<div class="center-item-commentitem">
							<div class="center-item-commentitem-main">
								<div class="center-item-commentitem-main-userinfo-img">
									<img src="/KMS/resources/user.jpg" />
								</div>
								<div class="center-item-commentitem-main-userinfo-detail">
									<!--这里的评论我要限定字数 不大于60字-->
									<div
										class="center-item-commentitem-main-userinfo-detail-message">
										<span
											class="center-item-commentitem-main-userinfo-detail-message-name center-item-commentitem-main-userinfo-messsage-me">我是测试机1号</span><span>：</span>有一段青春，留作永恒。剪一段时光，放在最美的段落。
									</div>
									<p class="center-item-commentitem-main-userinfo-detail-time">
										<span>2017-03-27 20:14:52</span><a
											class="center-item-commentitem-comment"><img
											src="/KMS/resources/comment.png" /></a>
									</p>
								</div>
							</div>
							<div class="center-item-commentitem-nomain">
								<div class="center-item-commentitem-main-userinfo-img">
									<img src="/KMS/resources/user.jpg" />
								</div>
								<div class="center-item-commentitem-main-userinfo-detail">
									<div
										class="center-item-commentitem-main-userinfo-detail-message">
										<span
											class="center-item-commentitem-main-userinfo-detail-message-name center-item-commentitem-main-userinfo-messsage-me">我是测试机2号</span>对<span
											class="center-item-commentitem-main-userinfo-detail-message-name center-item-commentitem-main-userinfo-messsage-you">我是测试机1号</span><span>说：</span>有一段青春，留作永恒。剪一段时光，放在最美的段落。有一段青春，留作永恒。剪一段时光，放在最美的段落。
									</div>
									<p class="center-item-commentitem-main-userinfo-detail-time">
										<span>2017-03-27 20:14:52</span><a
											class="center-item-commentitem-comment"><img
											src="/KMS/resources/comment.png" /></a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="center-item-txt">
						<textarea placeholder="评论"></textarea>
					</div>
					<div class="center-item-btn">
						<a href="javascript:;">评论</a>
					</div>
				</div>
				<div class="center-stop"></div>
			</div>
		</div>
		<div id="right"></div>
	</div>
</body>
</html>
